Repository aabuhijleh/electron-typescript-quick-start: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.ts": "tslint --fix",
  "**/*.{js,jsx,ts,tsx,md,json,html,css,less,scss,vue,gql}": "prettier --write"
}

chore: update electron-builder config for building native addons from source
  electron-builder.json
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

style: apply styling
  LICENSE.md
  electron-builder.json
Due: prettier --write

chore: add 'lint-fix' script
  package.json
Due: prettier --write

chore: update compiler options
  src/main.ts
  tsconfig.json
Due: tslint --fix, prettier --write

create nodejs.yml
  .github/workflows/nodejs.yml
Due: none

chore: add nodeje.yml
  .github/workflows/nodejs.yml
  .lintstagedrc.json
  package.json
Due: prettier --write

chore: update nodejs.yml
  .github/workflows/nodejs.yml
Due: none

chore: update ignored files
  .gitignore
  .prettierignore
Due: none

chore: add 'preLaunchTask'
  .vscode/launch.json
Due: prettier --write

chore: remove .vscode & update README.md
  .vscode/launch.json
  README.md
Due: prettier --write

chore: add stylelint
  .github/workflows/nodejs.yml
  .stylelintrc.json
  README.md
  package-lock.json
  package.json
  views/index.css
Due: prettier --write

chore: rename script
  .github/workflows/nodejs.yml
  package.json
Due: prettier --write

chore: update scripts
  package.json
Due: prettier --write

fix: use index.css
  views/index.html
Due: prettier --write

chore: add CI
  .github/workflows/nodejs.yml
Due: none

refactor: use app.whenReady(), instead of .on(ready)
  .github/workflows/nodejs.yml
  package.json
  src/main.ts
Due: tslint --fix, prettier --write

chore: update project setup
  .gitattributes
  .gitignore
  package-lock.json
  package.json
  src/main.ts
  tslint.json
Due: tslint --fix, prettier --write

chore: update project setup
  .gitattributes
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  src/main.ts
  tslint.json
Due: tslint --fix, prettier --write

refactor: use app.whenReady instead of ready event
  src/main.ts
Due: tslint --fix, prettier --write

chore: add vscode Electron main process debug config
  .vscode/launch.json
  .vscode/settings.json
Due: prettier --write

fix: don't listen to 'activate' until ready
  src/main.ts
Due: tslint --fix, prettier --write

docs: fix explanation of darwin auto-quit prevention
  src/main.ts
Due: tslint --fix, prettier --write

chore: update tsconfig.json
  tsconfig.json
Due: prettier --write

chore: migrate to eslint
  .eslintrc.js
  .gitattributes
  .github/workflows/nodejs.yml
  .gitignore
  .vscode/settings.json
  README.md
  electron-builder.json
  index.html
  package-lock.json
  package.json
  src/main.ts
  src/preload.ts
  tsconfig.json
  tslint.json
Due: tslint --fix, prettier --write

chore: fix vscode debugger launch config
  .vscode/launch.json
Due: prettier --write

chore: use sourceMap
  tsconfig.json
Due: prettier --write

chore: add dependabot configuration file
  .github/dependabot.yml
Due: none

Update README.md
  README.md
Due: prettier --write

chore: add recommended vscode extensions for this workspace
  .vscode/extensions.json
Due: prettier --write

chore: add Dependabot Automerge configuration
  .github/workflows/dependabot.yml
Due: none
